@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --bg-primary: #202020;
  --bg-secondary: #1b1b1b;
  --bg-footer: #282323;
  --primary-color: #e5e5e5;
  --secodary-color: #f65282;
  --border-radius: 50px;
  --section-margin: 100px;
  --gallery-margin: 40px;
}
body {
  background-color: var(--bg-secondary);
}
.hero {
  height: 100vh;
  background-color: var(--bg-primary);
  background-image: url("images/hero-image-removebg-preview.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-text {
  text-align: center;
  color: var(--primary-color);
  line-height: 2;
  padding: 160px 20px;
}
.hero-text h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 24px;
}
.hero-text h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 72px;
}
.hero-text p {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 300;
}
.get-started-btn {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  padding: 18px 30px;
  font-weight: 700;
  line-height: 27px;
}
section {
  padding-top: var(--section-margin);
  background-color: var(--bg-secondary);
}
.img-fluid {
  height: 280px;
}

.footer-tag {
  background-color: var(--bg-footer);
  color: var(--primary-color);
  padding: 20px 0;
  font-size: 16px;
  font-family: var(--primary-font);
}
.footer-tag span i {
  padding-right: 8px;
  padding-left: 8px;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
/*about*/
.medium {
  background-color: var(--bg-footer);
  max-width: 423px;
  max-height: 80.57px;
  padding: 10px;
  color: var(--primary-color);
}
.about-hero {
  background-color: var(--bg-secondary);
  color: var(--primary-color);
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
}
.about-hero .row {
  --bs-gutter-x: 0;
}
.about-image {
  background-color: var(--bg-primary);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.about-me {
  color: var(--secodary-color);
  font-size: 18px;
  font-weight: 700;
}
.caption {
  padding: 20px 40px;
}
.about-text h1 {
  font-size: 64px;
  font-weight: 700;
}
.about-text p {
  font: 300;
  font-size: 16px;
  line-height: 30px;
}
.about-text i {
  padding-right: 20px;
}
.contact-button {
  padding: 15px 20px;
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 14px;
  border-radius: var(--border-radius);
}
.contact-button a,
.get-started-btn a {
  color: black;
}
.contact-button:hover,
.get-started-btn:hover {
  background-color: var(--secodary-color);
  color: var(--primary-color);
}
.navbar-custom {
  background-color: var(--bg-primary);
  color: var(--primary-color);
}
.nav-link {
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
}

.navbar-brand {
  font-family: var(--primary-font);
  font-weight: 500;
}

.gallery {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-top: 32px;
  letter-spacing: 10%;
  text-transform: uppercase;
}
.contact-setion,
.contact-info {
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.contact-info {
  padding-top: 50px;
}
/*Media-query*/
@media (max-width: 560px) {
  img {
    display: flex;
    flex-direction: row;
  }
  .hero {
    height: auto;
    width: 100%;
  }
  section {
    padding-top: 0;
  }
  .hero-text {
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .caption {
    text-align: justify;
  }
  .medium {
    padding: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-hero {
    height: auto;
  }
  .contact-button {
    margin: 0 auto;
  }
  .navbar-custom {
    height: 80px;
  }
  .gallery {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 70px;
  }
}
@media (max-width: 990px) {
  .sidebar {
    max-width: 85%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(10px);
  }
  .nav-link,
  .active {
    color: var(--primary-color);
    text-align: center;
  }
  .socials {
    color: var(--secodary-color);
  }
  .offcanvas-body {
    margin: 0 auto;
    margin-top: 50%;
    font-family: var(--secodary-color);
    font-size: 18px;
  }
}
/*media query end*/
